@font-face {
    font-family: "Big Noodle Titling";
    src: url("big_noodle_titling.ttf");
}

@font-face {
    font-family: "Big Noodle Titling Oblique";
    src: url("big_noodle_titling_oblique.ttf");
}

.header {
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/blog_header/a5/A54ZNOI0UDS41686104831926.png);
    background-repeat: no-repeat;
}

.heroicon {
    border-style: solid;
    border-width: 5px;
    border-color: #CBCFD4;
    border-radius: 5px;
}

h1 {
    font-family: "Big Noodle Titling Oblique", Verdana, sans-serif;
    color: #333E48;
}

h2 {
    font-family: "Archivo", Verdana, sans-serif;
    color: #333E48;
}

h6 {
    font-family: "Archivo", Verdana, sans-serif;
    color: #333E48;
}


