@font-face {
    font-family: "Big Noodle Titling";
    src: url("big_noodle_titling.ttf");
}

@font-face {
    font-family: "Big Noodle Titling Oblique";
    src: url("big_noodle_titling_oblique.ttf");
}

body {
    background-color: #e1e6eb;
}

.heroicon {
    border-style: solid;
    border-width: 5px;
    border-color: #CBCFD4;
    border-radius: 5px;
}

.logo {
    filter: drop-shadow(0px 0px 75px rgba(255,255,255,1));
    position: absolute;
}

.footer {
    text-align: center;
    background-color: #1f252b;
    padding: 7px 7px 1px 7px;
}

.heroimg {
    max-width: 50%;
}

h1 {
    font-family: "Big Noodle Titling Oblique", Verdana, sans-serif;
    color: #333E48;
    font-size: 100px;
    letter-spacing: 12px;
}

h2 {
    color: #333E48;
}

h3 {
    color: #333E48;
}

h6 {
    color: #ffffff;
}
